$sm: 769px;
$md: 840px;
$lg: 1400px;
//
$primary: #779ecb;
$primary-light: #a8c8ed;
$primary-alpha: rgba($primary, 0.2);
$primary-medium: #5a84b3;
$primary-dark: #2d4c6f;
$black: #0e0e0e;
$dark: #2e2f33;
$grey-light: #e7e6eb;
$grey-medium: #bfc2c5;
$grey-dark: #969696;

// $primary-gradient: linear-gradient(225.57deg, #50b1ac 0%, #88ba41 82.39%);
$bezier: ease-in-out;
